fastapi
uvicorn
sqlalchemy
pydantic
passlib[bcrypt]
python-jose
python-multipart
email-validator
python-jose[cryptography]
python-dotenv

langchain
langchain-community
langchain-huggingface
langchain_chroma
chromadb
sentence-transformers
pymupdf
unstructured
python-pptx